.NavItem {
    height: 100%;
    display:flex;
    align-items: center;
    width: 150px;

}

.NavItem:not(:first-child) {
    border-left: solid 2px snow;
}

.NavItem  div{
    background-color: rgb(68, 4, 4);
    box-sizing: border-box;
    text-decoration: none;
    cursor: pointer;
    height: 100%;
    color: white;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 600px) {
    .NavItem {
        height: 30px;
        width: 100%;
    } 
    .NavItem:not(:first-child) {
        border-left: none;
        border-top: solid 1px snow;
    }
}

.active {
    border-bottom: 4px green;
}