.NavList {
    display: flex;
    align-items: center;
    height: 100%;
}

.navLink {
    display: flex;
    height: 100%;
}

.activeNavLink {
    border-bottom: 2px solid lightsalmon;
}

@media (max-width: 600px) {
    .NavList {
        flex-direction: column;
        height: auto;
        width: 100%;
    } 
}