.Modal {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
    background-color: white;
    z-index: 100;
    box-shadow: 1px 1px 1px black;
    min-height: 200px;
    padding: 12px;
    transition: all .5s ease-in;
}

.HideModal {
    top: -100%;   
}

@keyframes slideDown {
    0% {
        transform: translate(-50%, -50%) scale(0)
    }
    100% {
        transform: translate(-50%, -50%) scale(1)
    }
}